PORT=3001
MAX_WORKERS=10
MIN_WORKERS=2
SCALE_UP_THRESHOLD=70
SCALE_DOWN_THRESHOLD=30
KAFKA_METRICS_URL=http://localhost:3002/metrics
AI_PREDICTION_API=http://localhost:5001/predict
CHECK_INTERVAL_MS=10000
WORKER_IMAGE=alpine

# Kafka configuration for backend worker
KAFKA_BROKERS=localhost:9092
KAFKA_TOPIC=stock-ticks

# Firebase configuration for backend worker
FIREBASE_SERVICE_ACCOUNT_PATH=serviceAccountKey.json
FIREBASE_COLLECTION=processed_ticks